.container {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
body {
    background-color: rgba(255, 245, 222, 0.4);
}
h1 {
    font-family: fantasy;
    font-size: 3rem;
    border-bottom: 2px solid pink;
    width: 400px;
    text-align:center;
    border-right: 2px solid pink;
}
img {
    width: 450px;
    height: 300px;
    margin: 10px;
    
}